.header-root {
  flex-grow: 1;
  position: relative;
  z-index: 2;
}

.header-appBar {
  background-color: #FFFFFF;
  box-shadow: none;
}

.header-logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.header-logoText {
  color: #58A218;
  margin-right: 16px;
}

.header-search {
  position: relative;
  border-radius: 4px;
  background-color: #E0E0E0;
  margin-right: 16px;
  margin-left: 16px;
  width: auto;
  flex-grow: 1;
}

.header-searchIcon {
  padding: 0 16px;
  height: 100%;
  position: absolute;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-inputRoot {
  color: inherit;
}

.header-inputInput {
  padding: 8px 8px 8px 0;
  padding-left: calc(1em + 32px);
  width: 100%;
}

.header-button {
  margin-left: 8px;
  background-color: #8BC34A;
  color: #FFFFFF;
}

.header-button:hover {
  background-color: #7CB342;
}

.header-navBar {
  background-color: #C5E1A5;
  padding: 8px 0;
  box-shadow: none;
}

.header-navButton {
  color: #000000;
  margin: 0 16px;
  text-transform: none;
}