.slider-item {
  position: relative;
  z-index: 1; 
}

.slider-content {
  background-color: rgba(255, 255, 0, 0.7); 
  padding: 20px;
  text-align: center;
}

.slick-prev, .slick-next {
  z-index: 2;
}

.slick-slider {
  width:  100vw; 
  margin-left: calc(-50vw + 50%);
}

.homeSections-container {
  padding: 20px;
}

.homeSections-section {
  margin-bottom: 40px;
}

.homeSections-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.homeSections-card img {
  object-fit: cover;
  width: 100%;
  height: 140px;
}

.newsWeather-container {
  margin-top: 40px;
}

.section-title {
  margin-bottom: 20px;
}

.news-weather-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.news-card {
  margin-bottom: 20px;
}

.weather-card {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.viewAll-link {
  text-decoration: none;
}

.viewAll-button {
  background-color: #8BC34A;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.viewAll-button:hover {
  background-color: #218838;
}
