/* LoginView.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.loginView-container {
  background: url('../img/inicioSesion.png') no-repeat center center;
  background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
  height: 100vh;
  width: 98.97vw; /* Asegura que ocupe todo el ancho de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden; /* Evita el desplazamiento horizontal */
}

.loginView-paper {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.loginView-form {
  width: 100%; /* Fix IE 11 issue. */
  margin-top: 8px;
}

.loginView-textField {
  margin-bottom: 16px;
}

.loginView-submit {
  margin: 8px 0px;
  background-color: #8BC34A;
}

.loginView-submit:hover {
  background-color: #7CB342;
}

.loginView a {
  color: #388E3C;
}

.loginView a:hover {
  text-decoration: underline;
}
