/* RegisterView.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.registerView-container {
  background: url('../img/registro.png') no-repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.registerView-paper {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.registerView-form {
  width: 100%;
  margin-top: 8px;
}

.registerView-textField {
  margin-bottom: 16px;
}

.registerView-submit {
  margin: 8px 0px;
  background-color: #8BC34A;
}

.registerView-submit:hover {
  background-color: #7CB342;
}

.registerView a {
  color: #388E3C;
}

.registerView a:hover {
  text-decoration: underline;
}

.registerView-info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registerView-infoBox {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  max-width: 80%;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 600px) {
  .registerView-info {
    display: none;
  }
}
